* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 51px;
}

.promo {
  padding: 39px 0 61px 0;
  min-height: 802px;
  background: url("/img/main_bg.jpg") center center/cover no-repeat;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.logo_img {
  display: block;
  margin: 0 auto;
  margin-bottom: 9.5px;
}

.logo_text {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
}

.simple {
  margin-top: 20px;
}

.promo_title,
.title {
  text-align: center;
  font-weight: 900;
  font-size: 41px;
  line-height: 41px;
  text-transform: uppercase;
  color: #f9bf3b;
}

.promo_title_big {
  text-align: center;
  font-weight: 900;
  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
  color: #ffffff;
}

.title {
  margin-top: 20px;
}

.promo_text {
  margin: 22px auto 0 auto;
  width: 1144px;
  text-align: center;
  height: 77px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 28px;
  color: #ffffff;
}

.promo_text span {
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  color: #f9bf3b;
}

.promo_btn {
  display: block;
  margin: 72px auto 72px auto;
  width: 313px;
  height: 72px;
  left: 805px;
  top: 551px;

  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 21px;
  line-height: 24px;

  text-transform: uppercase;

  color: #ffffff;

  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.promo_down_text {
  text-align: center;
  font-weight: 100;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;

  color: #ffffff;
}

.promo_down_img {
  display: block;
  margin: 5px auto;
}

.waiting {
  min-height: 607px;
  padding: 88px 0 77px 0;
}

.waiting_title {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: #252525;
}

.waiting_divider {
  margin: 18px auto 0 auto;
  width: 220px;
  height: 7px;
  left: 851px;
  top: 129px;
  background: #f9bf3b;
}

.waiting_sub_title {
  margin: 18px auto 0 auto;
  text-align: center;
  font-weight: 400;
  font-size: 23px;
  line-height: 20px;
  color: #4a4a4a;
}

.waiting_wrapper {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}

.waiting_item {
  width: 384px;
  text-align: center;
}

.waiting_item_text {
  margin-top: 26px;
}

.optimaization {
  min-height: 550px;
  padding: 102px 0 107px 0;
}

.optimization_title {
  margin-left: 391px;
  font-weight: 900;
  font-size: 28px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: #299cbd;
}

.optimaization_text {
  margin-top: 25px;
  margin-left: 391px;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  color: #4a4a4a;
}

.optimaization_text span{
  font-weight: 700;
}

.optimaization .container{
  position: relative;
}
.optimization_img{
  position: absolute;
  left: -240px;
  top: 0px;
  z-index: -5;
}